h1 {

    text-align:center;
    color:lightpink;
    text-shadow: 2px 2px black;

}

nav {
    text-align:center;
}

/*Not a lot going on here but I like the look of everything in the center and I 
want to sorta keep a theme with my headers.*/